  <div class="card mb-4">
    <div class="card-body">
      <p><%= comment.body%></p>
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-row align-items-center">
          <img src:image_url(comment.user.image) alt="" width="25" height="25" />
          <p class="small mb-0 ms-2"><%= comment.user.name %></p>
          <%= link_to 'Edit', edit_comment_path(comment), class: "btn btn-warning btn-small m-2" if policy(comment).update? %>
          <%= link_to 'Delete', comment, class: "btn btn-danger btn-small m-2" ,
          method: :delete,
          data: { confirm: 'Are you sure?'} if policy(comment).destroy? %>
        </div>
      </div>
    </div>
  </div>

<%# <p>
  <strong>Commenter: <strong>
  <%= comment.user.name %>
<%# </p> %>

<%# <p>
  <strong>Comment: <strong>
  <%= comment.body %>
<%# </p> %>
