
<div class="login">
  <div class="card border-0">
    <div class="card-block">
      <h2 class= "text-center shadow p-1 m-2 mb-5">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group my-1">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control w-25 border-0 border-bottom shadow-sm' %>
        </div>

        <div class="form-group my-1">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control w-25 border-0 border-bottom shadow-sm' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group my-1">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="form-group my-1">
          <%= f.submit "Log in", class: 'btn btn-sm btn-outline-dark' %>
        </div>
      <% end %>

      <div class="auth-links">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
