<h1 class="text-center text-dark mb-5 shadow border-bottom">All Products</h1>

<summary>Shopping Cart</summary>
<%= debug session[:cart]%>

<% if false %>
  <div class="row">
  <% if user_signed_in? %>
    <%= render Product.all_products_except_mine(current_user.id), locals: {renderer: @renderer}%>%>
  <% else %>
    <%= render  Product.all , locals: {renderer: @renderer}%>
  <% end %>
  </div>
<% end %>

<div class="row">
<% if user_signed_in? %>
  <%= render @products, locals: {renderer: @renderer}%>%>
<% else %>
  <%= render  Product.all , locals: {renderer: @renderer}%>
<% end %>
</div>
