
<div class=" col-3 d-flex align-items-stretch mb-4 mx-1" style="">
  <div class="card shadow" style="width: 18rem; background-color: rgba(0, 0, 0, 0.1);">
    <% if product.images.attached? %>
      <%= image_tag(product.images[0], width:'285', height: '250') %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text">Rs. <%= product.price %></p>
      <% if @renderer == 'welcomeIndex' %>
        <%= link_to 'Show', product, class: "btn btn-sm btn-outline-dark w-100 mt-2 shadow" %>
        <%= link_to 'Add to Basket', add_to_cart_path(product.id), class: "btn btn-sm btn-outline-dark w-100 mt-2 shadow", method: :post unless @cart.include?(product) %>
        <%= link_to 'Remove from Basket',  remove_from_cart_path(product), class: "btn btn-sm btn-outline-dark w-100 mt-2 shadow" , method: :delete if @cart.include?(product)%>
      <% elsif @renderer == 'productsIndex' %>
        <%= link_to 'Show', product, class: "btn btn-sm btn-outline-dark w-100 mt-2 shadow" %>
        <%= link_to 'Edit', edit_product_path(product), class: "btn btn-sm btn-outline-dark w-100 mt-2 shadow" if policy(product).update? %>
        <%= link_to 'Destroy', product_path(product), class: "btn btn-sm btn-outline-dark w-100 mt-2 shadow", method: :delete, data: { confirm: 'Are you sure?' } if policy(product).destroy? %>
      <% elsif @renderer == 'cartShow' %>
        <p>Quantity <%= session[:cart][product.id.to_s]%></p>
        <%= form_with url: update_quantity_url(product), method: :put , remote: true do |form| %>
          <%= form.number_field :quantity , value: session[:cart][product.id.to_s], min: 1, size: 2  %>
          <%= form.submit "Update Quantity", class: "w-100 mt-2"  %>
        <% end  %>
        <%= link_to 'Show', product, class: "btn btn-sm btn-outline-dark w-100 mt-2 shadow" %>
        <%= link_to 'Remove from Basket',  remove_from_cart_path(product), class: "btn btn-sm btn-outline-dark w-100 mt-2 shadow" , method: :delete if @cart.include?(product)%>
      <% end %>
    </div>
  </div>
</div>
