<!DOCTYPE html>
<html>
  <head>
    <title>Your Personal Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "" >
    <%= render 'layouts/header' %>
    <% if notice %>
      <p class="notice bg-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert bg-warning"><%= alert %></p>
    <% end %>

    <% if false %>
      <% if flash[:alert] %>
        <div id="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer'%>
  </body>
</html>
